<h1> Edit A Book </h1>

<form action="/books/<%= @book.id %>" method="post"> 
 <input type="hidden" name="_method" value="patch">
    <label> Author </label>
    <input type="text" name="book[author]" value="<%=@book.author %>"/>
     <label> Title </label>
    <input type="text" name="book[title]" value="<%= @book.title %>" />
     <label> Snippet </label>
    <input type="text" name="book[snippet]" value="<%= @book.snippet %>"/>
    <input type="Submit" Value="Edit new Book">
</form>