<h1> Books </h1>

<% @books.each do |b| %>
    <ul>
      <li>
        <%= b.title %> 
      </li>
      <form action="/books/<%=b.id%>" method="post">
        <input type="hidden" name="_method" value="delete"> 
        <input type="submit" value= "DELETE THIS BOOK">
      </form>
    </ul>

<% end %>