<h1> Create Book </h1>

<form action="/books" method="post"> 
    <label> Author </label>
    <input type="text" name="Book[author]"/>
     <label> Title </label>
    <input type="text" name="Book[title]"/>
     <label> Snippet </label>
    <input type="text" name="Book[snippet]"/>
    <input type="Submit" Value="Create new Book">
</form>

